@page
@model ServiceHost.Pages.ContactModel
@{
    Layout = "_Layout2";
    ViewData["title"] = "تماس با ما";
}

<div class="gap">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sec-title-inner">
                <span>سوالی دارید؟</span>
                <h3>ارسال پیام</h3>
            </div>
        </div>
        <div class="contact-form text-center">
            <form>
                <div class="row mrg20">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <input type="text" placeholder="نام">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <input type="text" placeholder="موبایل">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <input type="email" placeholder="ایمیل">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <input type="text" placeholder="موضوع">
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <textarea placeholder="پیام شما"></textarea>
                        <button class="thm-btn brd-rd40" type="submit">ارسال پیام</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
