    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>آگاهی پیدا کنید</span>
                    <h3>اطلاعات تماس</h3>
                </div>
            </div>
            <div class="contact-info-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-location-pin"></i>
                            <strong>آدرس ما</strong>
                            <span>تهران - خیابان مرکزی - کوچه فرعی</span>
                            <a href="team.html#" title="">info@example.com</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-call"></i>
                            <strong>تماس با ما</strong>
                            <span>موبایل: 09123456789</span>
                            <span>فکس: 123 456 789</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-email"></i>
                            <strong>ارسال پیام</strong>
                            <a href="team.html#" title="">پشتیبانی 7/24 آماده پاسخگویی</a>
                            <a href="team.html#" title="">info@example.com</a>
                        </div>
                    </div>
                </div>
            </div><!-- Contact Info Wrap -->
        </div>
    </div>
    <div class="gap no-gap">
        <div class="contact-loc" id="contact-loc"></div>
    </div>
