@page 
@model IndexModel
@{
    ViewData["Title"] = "حیدریه النجف الاشرف";
}


@await Component.InvokeAsync("Banners")

<partial name="About" />

@await Component.InvokeAsync("UpComming")

<partial name="Services" />

@await Component.InvokeAsync("PastEvents")

@await Component.InvokeAsync("Sponsors")

@*@await Component.InvokeAsync("Membership")*@


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
