@model Haidarieh.Application.Contracts.Ceremony.EditCeremony
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش مراسم @Model.Title</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">عنوان مراسم</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CeremonyDate" class="control-label">تاریخ برگزاری</label>
                    <input type="text" class="form-control persianDateInput" asp-for="CeremonyDate">
                    <span asp-validation-for="CeremonyDate" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IsLive" class="control-label">وضعیت پخش زنده </label><br />
                    <input type="radio" class="radio-inline" name="IsLive" asp-for="IsLive" value="True">دارد
                    <input type="radio" class="radio-inline" name="IsLive" asp-for="IsLive" value="False">ندارد
                    <span asp-validation-for="IsLive" class="error"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="BannerFile" class="control-label">فایل بنر</label>
                    <input type="file" class="form-control" asp-for="BannerFile" accept="image/*">
                    <span asp-validation-for="BannerFile" class="error"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Image" class="control-label">عکس</label>
                    <input type="file" class="form-control" asp-for="Image" accept="image/*">
                    <span asp-validation-for="Image" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageTitle" class="control-label">عنوان عکس</label>
                    <input type="text" class="form-control" asp-for="ImageTitle" onchange="fillField('ImageTitle', 'ImageAlt')">
                    <span asp-validation-for="ImageTitle" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageAlt" class="control-label">توضیح عکس در گوگل</label>
                    <input type="text" class="form-control" asp-for="ImageAlt">
                    <span asp-validation-for="ImageAlt" class="error"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label">کلمات کلیدی</label>
                    <input type="text" class="form-control" asp-for="Keywords" onchange="makeSlug('Keywords', 'Slug')">
                    <span asp-validation-for="Keywords" class="error"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Slug" class="control-label">اسلاگ</label>
                    <input type="text" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="error"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="MetaDescription" class="control-label">شرح</label>
                    <textarea class="form-control autogrow" asp-for="MetaDescription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="MetaDescription" class="error"></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
    </div>
</form>
@*<script>
    $('.persianDateInput').persianDatepicker({
        format: 'YYYY/MM/DD',
        autoClose: true,
        initialValue:true,
        initialValueType: "persian"
    });
</script>*@

